{% extends 'base.html.twig' %}

{% block title %}Editer un bien immobiliers{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Formulaire d'édition</h1>
    {{ form_start(form_edit) }}
        {{ form_row(form_edit.name) }}
        {{ form_row(form_edit.price) }}
        {{ form_row(form_edit.city) }}
        {{ form_row(form_edit.address) }}
        <div>
            <img src="/uploads/{{estate.image}}" style="height:400px;" />
        </div>
        {{ form_row(form_edit.image) }}
    {{ form_end(form_edit) }}
    </div>
{% endblock %}
